<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head.ejs') %>

<body>

    <%- include ('./partials/navegar.ejs') %>

    <div class="about content">
        <h2>Acerca de:</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar eros eget sem euismod, id egestas
            lorem dignissim. Mauris placerat sit amet magna ac suscipit. In id nunc ac nulla congue gravida eu id nisi.
            Phasellus consectetur sit amet quam ut sodales. Mauris at ante varius, ornare libero non, accumsan erat.
            Pellentesque ultricies tempus turpis, ac bibendum lorem vehicula vitae. Integer tincidunt orci sed leo
            posuere, sed imperdiet metus tempus. Nunc tincidunt mollis nisi sed dictum. Aliquam efficitur libero quis
            enim fermentum vehicula. Praesent feugiat vitae nibh in rhoncus. Sed mattis arcu in laoreet semper. Fusce
            eleifend fringilla facilisis. Vestibulum maximus magna eget finibus vulputate. Donec vitae felis nunc. Fusce
            faucibus lectus quis nulla tristique, blandit pharetra sapien ultrices. Vivamus condimentum ante tristique
            lacus porta, quis dictum mi sodales. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar eros eget sem euismod, id egestas
            lorem dignissim. Mauris placerat sit amet magna ac suscipit. In id nunc ac nulla congue gravida eu id nisi.
            Phasellus consectetur sit amet quam ut sodales. Mauris at ante varius, ornare libero non, accumsan erat.
            Pellentesque ultricies tempus turpis, ac bibendum lorem vehicula vitae. Integer tincidunt orci sed leo
            posuere, sed imperdiet metus tempus. Nunc tincidunt mollis nisi sed dictum. Aliquam efficitur libero quis
            enim fermentum vehicula. Praesent feugiat vitae nibh in rhoncus. Sed mattis arcu in laoreet semper. Fusce
            eleifend fringilla facilisis. Vestibulum maximus magna eget finibus vulputate. Donec vitae felis nunc. Fusce
            faucibus lectus quis nulla tristique, blandit pharetra sapien ultrices. Vivamus condimentum ante tristique
            lacus porta, quis dictum mi sodales. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar eros eget sem euismod, id egestas
            lorem dignissim. Mauris placerat sit amet magna ac suscipit. In id nunc ac nulla congue gravida eu id nisi.
            Phasellus consectetur sit amet quam ut sodales. Mauris at ante varius, ornare libero non, accumsan erat.
            Pellentesque ultricies tempus turpis, ac bibendum lorem vehicula vitae. Integer tincidunt orci sed leo
            posuere, sed imperdiet metus tempus. Nunc tincidunt mollis nisi sed dictum. Aliquam efficitur libero quis
            enim fermentum vehicula. Praesent feugiat vitae nibh in rhoncus. Sed mattis arcu in laoreet semper. Fusce
            eleifend fringilla facilisis. Vestibulum maximus magna eget finibus vulputate. Donec vitae felis nunc. Fusce
            faucibus lectus quis nulla tristique, blandit pharetra sapien ultrices. Vivamus condimentum ante tristique
            lacus porta, quis dictum mi sodales. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar eros eget sem euismod, id egestas
            lorem dignissim. Mauris placerat sit amet magna ac suscipit. In id nunc ac nulla congue gravida eu id nisi.
            Phasellus consectetur sit amet quam ut sodales. Mauris at ante varius, ornare libero non, accumsan erat.
            Pellentesque ultricies tempus turpis, ac bibendum lorem vehicula vitae. Integer tincidunt orci sed leo
            posuere, sed imperdiet metus tempus. Nunc tincidunt mollis nisi sed dictum. Aliquam efficitur libero quis
            enim fermentum vehicula. Praesent feugiat vitae nibh in rhoncus. Sed mattis arcu in laoreet semper. Fusce
            eleifend fringilla facilisis. Vestibulum maximus magna eget finibus vulputate. Donec vitae felis nunc. Fusce
            faucibus lectus quis nulla tristique, blandit pharetra sapien ultrices. Vivamus condimentum ante tristique
            lacus porta, quis dictum mi sodales. </p>
    </div>

    <%- include ('./partials/footer.ejs') %>

</body>

</html>