<head>
    <meta charset="UTF-8">
    <meta name="descripcion" content="Clase de Node.js">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios | <%= title%></title>
    <% if (stylesheet) { %>
        <link rel="stylesheet" href="<%= stylesheet %>">
    <% } %>
</head>