<nav>
    <div class="site-title">
        <a href="/"> <h1>Usuarios</h1></a>
        <p>Creación de usuarios</p>
    </div>
    <u1>
        <li><a href="/"> Usuarios </a></li>
        <li><a href="/about"> Acerca de </a></li>
        <li><a href="/users/crear"> Crear un usuario </a></li>
        <li><a href="/todos-los-usuarios"> Mostrar todos los usuarios </a></li>
        <li><a href="/buscar-un-usuario"> Buscar un usuario concreto </a></li>
    </u1>
</nav>